.item-main-pizza {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

/* pizza image screen radius for mobile and desktop */
.pizza-image-m {
  border-radius: 0px;
}
.pizza-image-d {
  border-radius: 40px;
}
@media screen and (max-width: 1024px) {
  .pizza-image-m {
    border-radius: 30px;
  }
}

/* main div tag of item main pizza  */
@media screen and (min-width: 510px) and (max-width: 766px) {
  .item-main-pizza {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .item-main {
    gap: 2rem;
  }
}

/*div tag gray background color of the pizza items and pizza price */
.item-background {
  background-color: rgb(242, 241, 239);
}
@media screen and (min-width: 880px) and (min-width: 946) and (max-width: 948px) {
  .item-background {
    width: 350px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 950px) and (max-width: 1023px) {
  .item-background {
    width: 385px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 1436px) and (max-width: 4128px) {
  .item-background {
    width: 384px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 280px) and (max-width: 318px) {
  .pizza-price {
    font-size: 10.5px;
    margin-left: 0.4rem;
    font-weight: bolder;
  }
  .main-pizza-price {
    margin-top: 4rem;
  }
}
@media screen and (min-width: 318px) and (max-width: 360px) {
  .pizza-price {
    font-size: 12px;
    margin-left: 0.4rem;
    font-weight: bolder;
  }
  .main-pizza-price {
    margin-top: 3rem;
  }
}
@media screen and (min-width: 280px) and (max-width: 360px) {
  .item-background {
    padding-left: 1px;
    padding-right: 1px;
  }

  .cont-pizza {
    margin-bottom: 13.5rem;
  }

  .desc-pizza {
    font-size: 12px;
  }
  .addcart {
    width: 95%;
  }
}

.pizza-price {
  margin-top: -2rem;
}

@media screen and (min-width: 415px) and (max-width: 352px) {
  .main-pizza-price {
    margin-top: 6rem;
  }
}
@media screen and (min-width: 356px) and (max-width: 399px) {
  .cont-pizza {
    margin-bottom: 12rem;
  }
}
@media screen and (min-width: 361px) and (max-width: 410px) {
  .pizza-price {
    margin-top: 1rem;
  }
}
@media screen and (min-width: 400px) and (max-width: 469px) {
  .pizza-price {
    margin-left: 7px;
    font-size: 0.9rem;
  }
  .cont-pizza {
    margin-bottom: 12rem;
  }
}
@media screen and (min-width: 414px) and (max-width: 468px) {
  .pizza-price {
    margin-top: -1rem;
  }
}
@media screen and (min-width: 470px) and (max-width: 767px) {
  .pizza-price {
    margin-top: -22px;
    margin-left: 9px;
    font-size: 1rem;
  }
  .cont-pizza {
    margin-bottom: 11rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .pizza-price {
    margin-top: -1rem;
  }
}
